DATABASE_NAME=madalearn_db
DATABASE_USER=madalearn_user
DATABASE_PASSWORD=madalearn_pass
DATABASE_HOST=localhost
DATABASE_PORT=5432
SECRET_KEY=django-insecure-change-this-in-production-madalearn-2026
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
